* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
}

main {
    /* display: block; */
    text-align: center;
}

.googleLogo {
    padding-top: 200px;
    padding-bottom: 30px;
    /* width: 272px;
    margin: 0 auto; */
}

.searchBar {
    padding-bottom: 20px;
}