* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
    padding: 8px;
}

li a {
    color: black;
}

a {
    text-decoration: none;
}


main {
    /* display: block; */
    text-align: center;
}

.googleLogo {
    padding-top: 200px;
    padding-bottom: 25px;
    /* width: 272px;
    margin: 0 auto; */
}

.searchBar {
    padding-bottom: 20px;
}

.otherLanguages {
    padding-top: 20px;
}

input[type=text] {
    width: 480px;
    height: 40px;
    border-radius: 50px;
    border: none;
    border: solid 1px #ccc;
}

.footerBar {
    overflow: hidden;
    background-color: #f2f2f2;
    /* margin-top: 100px; */
    float: none;
    position: fixed ;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px;
}

.leftFooter {
    float: left;
}

.rightFooter{
    float: right;
}